#container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
body{
    background: rgb(35, 35, 41);
    
    .card{
        width: 100%;
        padding: 10px ;
        background: white;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        border-radius:30px ;
        transition: all 0.9s ease-in-out;
        &:hover{
            transform: scale(0.9);
        }
        h1:hover{
         color: aqua;
        }
        &:active{
               background: rebeccapurple;
               color: white;
        }
        .img{
          width: 100%;
        }
        p{
            border-top: 1px solid black;
            padding-top: 20px;
            &:hover{
                color: rgb(255, 0, 0);
            border-top: 100% solid black;

                
            }
        }
        a{
            padding: 10px 20px ;
            border: 1px solid rgb(255, 255, 255);
            border-radius: 10px;
            color: black;
            list-style: none;
            text-decoration: none;
            &:hover{
                border: 1px solid rgb(0, 0, 0);
            }
        }
    }
}